{{#instance}}
    <div id="next-activity-button">
        {{{next_activity_button_html}}}
    </div>

    {{^tabshtml}}
        {{> mod_videotime/vimeo_embed }}
    {{/tabshtml}}
    {{#tabshtml}}
        {{{tabshtml}}}
    {{/tabshtml}}

    {{#js}}
        require(['mod_videotime/videotime'], function(VideoTime) {
            let v = new VideoTime('vimeo-embed-{{uniqueid}}', {{cmid}}, {{haspro}}, {{interval}});
            {{#haspro}}
                {{! Register pro JS plugins }}
                require(["videotimeplugin_pro/prevent-fast-forwarding"], function(PreventFastForwarding) {
                    v.registerPlugin(new PreventFastForwarding);
                    v.initialize();
                });
            {{/haspro}}
            {{^haspro}}
                v.initialize();
            {{/haspro}}
        });
    {{/js}}
{{/instance}}